@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&family=Lugrasimo&family=Outfit:wght@300;400;500;600;700&family=Tektur:wght@400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'EB Garamond', serif; */
  /* font-family: 'Lugrasimo', cursive; */
  /* font-family: 'Outfit', sans-serif; */
  font-family: 'Tektur', cursive;
}

body {
  background: rgb(32, 28, 28);
}

h1, h4, p, a {
  color: whitesmoke;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(178, 212, 24);
  color: #222;
  border: 1px, solid, whitesmoke;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: whitesmoke;
  border-style: solid;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: whitesmoke;
  border: none;
  /* transition: 0.3s; */
}